<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>servlets.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>servlets.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateServlet</servlet-name>
        <servlet-class>servlets.ValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMenu</servlet-name>
        <servlet-class>servlets.UserMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUsers</servlet-name>
        <servlet-class>servlets.ShowUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserModify</servlet-name>
        <servlet-class>servlets.UserModify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelete</servlet-name>
        <servlet-class>servlets.UserDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>servlets.GetImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImageCollection</servlet-name>
        <servlet-class>servlets.GetImageCollection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>servlets.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageDelete</servlet-name>
        <servlet-class>servlets.ImageDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getThumbnail</servlet-name>
        <servlet-class>servlets.getThumbnail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRating</servlet-name>
        <servlet-class>servlets.UserRating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateServlet</servlet-name>
        <url-pattern>/ValidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMenu</servlet-name>
        <url-pattern>/UserMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUsers</servlet-name>
        <url-pattern>/ShowUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserModify</servlet-name>
        <url-pattern>/UserModify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDelete</servlet-name>
        <url-pattern>/UserDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/GetImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImageCollection</servlet-name>
        <url-pattern>/GetImageCollection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageDelete</servlet-name>
        <url-pattern>/ImageDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getThumbnail</servlet-name>
        <url-pattern>/getThumbnail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRating</servlet-name>
        <url-pattern>/UserRating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            600
        </session-timeout>
    </session-config>
</web-app>
